<div id="topallwrap">
	<div id="topwrap" class="ccc shadow">
		<div id="topbox">
			<h1>dossier</h1>
			<div id="topnav">
				<ul class="nav">
					<li><a href="#">dashboard</a></li>
					<li><a href="#" class="active">projects</a></li>
					<li class="cf"><a href="#">clients</a></li>
				</ul>
			</div>
			<ul id="topusernav">
				<li><a href="#" class="first" id="btn-account">my account</a></li>
				<li>|</li>
				<li><a href="#" id="btn-logout">logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="pageallwrap">
	<div id="pagewrap" class="shadow round">
		<div id="pagetop" class="eee roundtop">
			<span class="pageloc"><a href="#">projects</a><!-- <a href="#">clients</a> / <a href="#">wizkids</a> / <a href="#">tasks</a> --></span>
			<span class="backbtn"><a href="#"><span class="hidden">back</span></a></span>
			<span class="addnew"><a href="#" class="roundtopright">+</a></span>
		</div>
		<div class="pagesep-dark dark"><span>due soon</span></div>
		
		<div id="itemcontainer">
			
		</div>
	</div>
</div>
